<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="?">
                                FreeMind Policy
                            </a>
                        </li>
                        <li>
                            <a href="?">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="?">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; 2016, made with <i class="fa fa-heart heart"></i> by <a href="?">Vishal Nathbone</a>
                </div>
            </div>
        </footer>
