<div>
<div class="col-sm-12 col-md-9" style="padding:0;">
<div class="col-sm-12 col-md-8" style="padding:0;">
<!-- Slider -->
<section id="slider">
    <div class="col-md-12" style="padding:0 10px;">
        <h5 class="line"><span>चालू घडामोडी</span></h5>

        <div class="main-slider">
            <div class="badg" style="display:none">
                <p><a href="#/readAreaNews">Letest.</a></p>
            </div>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="img/flexslider/1.jpg" alt="MyPassion"/>

                        <p class="flex-caption"><a href="#/readAreaNews">Google wants more women in tech.</a> Donec
                            bibendum dolor at ante. Proin neque dui, pre tium quis fringilla ut, sodales sed. </p>
                    </li>
                    <li>
                        <img src="img/flexslider/3.jpg" alt="MyPassion"/>

                        <p class="flex-caption"><a href="#/readAreaNews">Small Businesses Surge against all
                            expectations.</a> Donec bibendum dolor at ante. Proin neque dui, pre tium quis fringilla ut,
                            sodales sed. </p>
                    </li>
                    <li>
                        <img src="img/flexslider/5.jpg" alt="MyPassion"/>

                        <p class="flex-caption"><a href="#/readAreaNews">Drones: Future of disaster response?</a> Donec
                            bibendum dolor at ante. Proin neque dui, pre tium quis fringilla ut, sodales sed. </p>
                    </li>
                    <li>
                        <img src="img/flexslider/4.jpg" alt="MyPassion"/>

                        <p class="flex-caption"><a href="#/readAreaNews">Hollywood cowboys' retreat. </a> Donec bibendum
                            dolor at ante. Proin neque dui, pre tium quis fringilla ut, sodales sed. </p>
                    </li>
                    <li>
                        <img src="img/flexslider/2.jpg" alt="MyPassion"/>

                        <p class="flex-caption"><a href="#/readAreaNews">Stress may cause cravings.</a> Donec bibendum
                            dolor at ante. Proin neque dui, pre tium quis fringilla ut, sodales sed. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</section>
<!-- / Slider -->
</div>
<div class="col-sm-12 col-md-4 appnotification" style="padding:0px 0 0 10px; ">
 <h5 class="line"><span>PCB विशेष</span>

        <div class="navbar">
            <a id="next2" class="next"><span></span></a>
            <a id="prev2" class="prev"><span></span></a>
        </div>
    </h5>
    <div class="outertight m-r-no">

        <ul class="block" id="carousel2">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/13.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/14.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:100%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/15.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/16.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/11.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/12.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
        </ul>
    </div>
</div>
<div style="clear:both"></div>
<!-- letest news -->
<div class="col-md-12">
    <h5 class="line">
        <span>ताज्या बातम्या</span>

      
    </h5>

    

    <div class="outerwide">
        <ul class="block2">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/17.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
            <li class="m-r-no">
                <a href="#/readAreaNews"><img src="img/trash/18.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:100%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/19.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li class="m-r-no">
                <a href="#/readAreaNews"><img src="img/trash/20.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
        </ul>
    </div>
</div>
<!-- end letest news-->



<!-- Pimpri News -->
<div class="col-md-6" style="padding: 0;">
    <h5 class="line"><span><a ui-sref="readAreaNews" href="#/readAreaNews">पिंपरी</a></span></h5>

    <div class="outertight">
        <ul class="block">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/5.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>


            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/6.png" alt="MyPassion" class="alignleft"></a>

                <p>

                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/7.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>

        </ul>
        <div style="clear:both"></div>
    </div>

</div>
<!-- /Pimpri News -->

<!-- chinchwad News -->
<div class="col-md-6">
    <h5 class="line"><span>चिंचवड</span></h5>

    <div class="outertight m-r-no">
        <ul class="block">

            <li>
                <a href="#/readAreaNews"><img src="img/trash/10.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/11.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/12.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
        </ul>
    </div>

</div>
<!-- /chinchwad News -->

<!-- bhosari News -->
<div class="col-md-6" style="padding: 0;">
    <h5 class="line"><span>भोसरी</span></h5>

    <div class="outertight">
        <ul class="block">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/5.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/6.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/7.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>

        </ul>
        <div style="clear:both"></div>
    </div>

</div>
<!-- /bhosari News -->

<!-- pune News -->
<div class="col-md-6">
    <h5 class="line"><span>पुणे</span></h5>

    <div class="outertight m-r-no">
        <ul class="block">

            <li>
                <a href="#/readAreaNews"><img src="img/trash/10.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/11.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/12.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
        </ul>
    </div>

</div>
<!-- /pune News -->

<!-- maharashtra News -->
<div class="col-md-6" style="padding: 0;">
    <h5 class="line"><span>महाराष्ट्रा</span></h5>

    <div class="outertight">
        <ul class="block">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/5.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/6.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/7.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>

        </ul>
        <div style="clear:both"></div>
    </div>

</div>
<!-- /maharashtra News -->

<!--pune Gramin News -->
<div class="col-md-6">
    <h5 class="line"><span>पुणे ग्रामीण</span></h5>

    <div class="outertight m-r-no">
        <ul class="block">

            <li>
                <a href="#/readAreaNews"><img src="img/trash/10.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/11.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/12.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
        </ul>
    </div>

</div>
<!-- /Pune GRamin News -->

<!-- desh News -->
<div class="col-md-6">
    <h5 class="line"><span>देश</span></h5>

    <div class="outertight">
        <ul class="block">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/5.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/6.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/7.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>

        </ul>
        <div style="clear:both"></div>
    </div>

</div>
<!-- /Desh News -->
<!-- Videsh News -->
<div class="col-md-6">
    <h5 class="line"><span>विदेश</span></h5>

    <div class="outertight">
        <ul class="block">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/5.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/6.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/7.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>

        </ul>
        <div style="clear:both"></div>
    </div>

</div>
<!-- /Videsh News -->
<!-- Krida News -->
<div class="col-md-6">
    <h5 class="line"><span>क्रीडा</span></h5>

    <div class="outertight">
        <ul class="block">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/5.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/6.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/7.png" alt="MyPassion" class="alignleft"></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची
                        स्थगिती</a>

                <p class="more"><a href="#/readAreaNews">आणखी वाचा</a></p>
                </p>
            </li>

        </ul>
        <div style="clear:both"></div>
    </div>

</div>
<!-- /Krida News -->

<!--	pcb Vishesh	-->
<div class="col-md-6">
    <h5 class="line"><span>PCB विशेष</span>

        <div class="navbar">
            <a id="next2" class="next"><span></span></a>
            <a id="prev2" class="prev"><span></span></a>
        </div>
    </h5>
    <div class="outertight m-r-no">

        <ul class="block" id="carousel2">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/13.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/14.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:100%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/15.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/16.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/11.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/12.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
        </ul>
    </div>
</div>
<!-- /PCB Vishaesh-->

<!-- sampadakiya News -->
<div class="col-md-12">
    <h5 class="line">
        <span>संपादकीय</span>

        <div class="navbar">
            <a id="next4" class="next" href="#/readAreaNews"><span></span></a>
            <a id="prev4" class="prev" href="#/readAreaNews"><span></span></a>
        </div>
    </h5>

    <div class="outerwide">
        <ul class="wnews" id="carousel4">
            <li>
                <img src="assets/img/c4/Jijai1.jpg" alt="MyPassion"/>

            </li>
            <li>
                <img src="assets/img/c4/Jijai2.jpg" alt="MyPassion"/>

            </li>
            <li>
                <img src="assets/img/c4/maxresdefault.jpg" alt="MyPassion"/>

            </li>
        </ul>
    </div>

    <div class="outerwide">
        <ul class="block2">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/17.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
            <li class="m-r-no">
                <a href="#/readAreaNews"><img src="img/trash/18.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:100%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/19.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li class="m-r-no">
                <a href="#/readAreaNews"><img src="img/trash/20.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
        </ul>
    </div>
</div>
<!-- /sampadakiya News -->


<!-- Life Style -->
<div class="col-md-12 ">
    <h5 class="line">
        <span>Life Style.</span>

        <div class="navbar">
            <a id="next1" class="next"><span></span></a>
            <a id="prev1" class="prev"><span></span></a>
        </div>
    </h5>

    <div class="outertight">
        <img src="img/trash/24.png" alt="MyPassion"/>
        <h6 class="regular"><a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis. Lorem
            Ipsum Dolor, Sit Amet Adipsing.</a></h6>
        <span class="meta">26 May, 2013.   \\   <a href="#/readAreaNews">World News.</a>   \\   <a
                href="#/readAreaNews">No Coments.</a></span>

        <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem purus eu sapien.
            Curabitur a orci nec risus lacinia vehic. Lorem ipsum
            dolor adipcising elit. Erat egestan sagittis lorem aupo dolor sit ameta, auctor libero tempor...</p>
    </div>

    <div class="outertight m-r-no">

        <ul class="block" id="carousel">
            <li>
                <a href="#/readAreaNews"><img src="img/trash/13.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/14.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:100%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/15.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/16.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/11.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:70%;"></span></span>
            </li>
            <li>
                <a href="#/readAreaNews"><img src="img/trash/12.png" alt="MyPassion" class="alignleft"/></a>

                <p>
                    <span>26 May, 2013.</span>
                    <a href="#/readAreaNews">Blandit Rutrum, Erat et Sagittis.</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
        </ul>
    </div>
</div>
<!-- /Life Style -->


</div>
<!-- /Main Content -->


<!-- Left Sidebar -->
<div class="col-md-3" ng-include="'pages/rightBar.html'" style="position:relative">


</div>
<!-- /Left Sidebar -->
</div>
                  