<div class="newsImage col-xs-12 col-sm-12 col-md-12">

    <div class="col-md-1" style="padding: 0;">
    
    <ul class="social-list">
    <li class="social-li-facebook">
        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com/"
                                     class="ssbp-btn ssbp-facebook ssbp-facebook--standard" rel="nofollow"
                                     data-ssbp-title="" data-ssbp-url="https://simplesharebuttons.com/"
                                     data-ssbp-site="Facebook"><span class="social-text">Facebook</span></a></li>
    <li class="social-li-google"><a href="https://plus.google.com/share?url=https://simplesharebuttons.com/"
                                   class="ssbp-btn ssbp-google" rel="nofollow" data-ssbp-title=""
                                   data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="Google+"><span
                class="social-text">Google+</span></a>
    </li>
    <li class="social-li-linkedin"><a
            href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com/"
            class="ssbp-btn ssbp-linkedin" rel="nofollow" data-ssbp-title=""
            data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="LinkedIn"><span
                class="social-text">Linkedin</span></a></li>
    <li class="social-li-twitter"><a
            href="https://twitter.com/share?url=https://simplesharebuttons.com/&amp;text=+&amp;hashtags=fairtoshare&amp;via=fairtoshare"
            class="ssbp-btn ssbp-twitter ssbp-twitter--standard" rel="nofollow" data-ssbp-title=""
            data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="Twitter"><span
                class="social-text">Twitter</span></a>
    </li>
    <li class="social-li-email"><a href="mailto:?Subject=&amp;Body=%20https://simplesharebuttons.com/"
                                  class="ssbp-btn ssbp-email ssbp-email-popup" data-ssbp-title=""
                                  data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="Email"><span
                class="social-text">Email</span></a></li>
    
</ul>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 bannerImg" style="padding: 0; background:url(img/flexslider/1.jpg);background-repeat:no-repeat; background-size:cover">
<!--        <img src="img/flexslider/1.jpg" alt="MyPassion" style="width:100%;text-align:center"/>-->
    </div>
    <div class="col-md-2" style="padding: 0 1px;">
        <img src="images/ads/10822225838303930956.png" alt="MyPassion" style="width:100%"/>
    </div>
<div style="clear:both"></div>
    <div class="desc">
        <p class="desc_content"> आंबेडकरी कार्यकर्त्यांनी मराठा मोर्च्यांच्या विरोधात प्रती मोर्चे काढू नये </p>
    </div>


</div>

<div class="col-md-8">
<div class="single">
<div class="col-xs-12 col-sm-12 col-md-6" style="margin: 0 9px 6px 0;
    padding: 0;">

    <img src="img/flexslider/1.jpg" alt="MyPassion" style="width:100%"/>

</div>

<h6 class="title">आंबेडकरी कार्यकर्त्यांनी मराठा मोर्च्यांच्या विरोधात प्रती मोर्चे काढू नये </h6>
<span class="meta">26 May, 2013.   \\   <a href="#">World News.</a>   \\   <a href="#">No Coments.</a></span>

<p>पिंपरी दि. १९ (पीसीबी) – प्रकाश आंबेडकर व आनंदराज आंबेडकर यांच्या आदेशानुसार पिंपरी-चिंचवड शहरामध्ये कोणत्याही
    आंबेडकरी चळवळीतील कार्यकर्त्याने मराठा बांधवांनी काढलेल्या मोर्च्यांच्या विरोधात प्रतिमोर्चे काढू नयेत, असे आवाहन
    रिपब्लिकन सेनेच्या युवक आघाडीच्या वतीने करण्यात आले आहे.

    रिपब्लिकन सेना युवक आघाडीचे शहराध्यक्ष संतोष सकपाळ यांनी प्रसिद्धीस दिलेल्या निवेदनात म्हटले आहे, “मराठा बांधवांनी
    काढलेले मोर्चे हे दलित विरोधी असल्याचा अपप्रचार काही पक्ष संघटना करीत आहेत. दलित व मराठा यांच्यामधील संघर्ष
    पेटविण्याच्या षडयंत्राला आंबेडकरी कार्यकर्त्यांनी बळी पडू नये. मराठा बाधवांनी काढलेल्या मोर्च्याचे भारतीय बौद्ध
    महासभा, भारीप बहुजन महासंघ व रिपब्लिकन सेना यांच्या वतीने स्वागत करण्यात येत आहे. परंतु, मराठा बांधवांनीही आता
    आत्मपरिक्षण करण्याची गरज आहे. १९६० पासून राजकीय, सहकार, शैक्षणिक क्षेत्रांमध्ये आजतागायत १५९ मराठा कुटुंबाकडे सत्ता
    आहे. त्यांनी इतर मराठा बांधवांकडे दुर्लक्ष केले आहे. सहकारामध्ये मोठ्या प्रमाणात भ्रष्टाचार झाल्यामुळे मराठा शेतकरी
    बांधवांवर आत्महत्या करण्याची वेळ आली आहे.”
</p>
<ul class="sharebutton">
    <li class="social-li-facebook">
        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com/"
                                     class="ssbp-btn ssbp-facebook ssbp-facebook--standard" rel="nofollow"
                                     data-ssbp-title="" data-ssbp-url="https://simplesharebuttons.com/"
                                     data-ssbp-site="Facebook"><span class="social-text">Facebook</span></a></li>
    <li class="social-li-google"><a href="https://plus.google.com/share?url=https://simplesharebuttons.com/"
                                   class="ssbp-btn ssbp-google" rel="nofollow" data-ssbp-title=""
                                   data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="Google+"><span
                class="social-text">Google+</span></a>
    </li>
    <li class="social-li-linkedin"><a
            href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com/"
            class="ssbp-btn ssbp-linkedin" rel="nofollow" data-ssbp-title=""
            data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="LinkedIn"><span
                class="social-text">Linkedin</span></a></li>
    <li class="social-li-twitter"><a
            href="https://twitter.com/share?url=https://simplesharebuttons.com/&amp;text=+&amp;hashtags=fairtoshare&amp;via=fairtoshare"
            class="ssbp-btn ssbp-twitter ssbp-twitter--standard" rel="nofollow" data-ssbp-title=""
            data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="Twitter"><span
                class="social-text">Twitter</span></a>
    </li>
    <li class="social-li-email"><a href="mailto:?Subject=&amp;Body=%20https://simplesharebuttons.com/"
                                  class="ssbp-btn ssbp-email ssbp-email-popup" data-ssbp-title=""
                                  data-ssbp-url="https://simplesharebuttons.com/" data-ssbp-site="Email"><span
                class="social-text">Email</span></a></li>
    
</ul>


<div class="relatednews">
    <h5 class="line"><span>Related News.</span></h5>
    <ul>
        <li>
            <a href="#"><img src="img/trash/5.png" alt="MyPassion"/></a>

            <p>
                <span>26 May, 2013.</span>
                <a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></p>

        </li>
        <li>
            <a href="#"><img src="img/trash/6.png" alt="MyPassion"/></a>

            <p>
                <span>26 May, 2013.</span>
                <a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></p>

        </li>
        <li>
            <a href="#"><img src="img/trash/7.png" alt="MyPassion"/></a>

            <p>
                <span>26 May, 2013.</span>
                <a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></p>

        </li>
        <li>
            <a href="#"><img src="img/trash/8.png" alt="MyPassion"/></a>

            <p>
                <span>26 May, 2013.</span>
                <a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></p>

        </li>
    </ul>
</div>

<div class="comments">
    <h5 class="line"><span>Comments.</span></h5>
    <ul>
        <li>
            <div>
                <div class="comment-avatar"><img src="img/avatar.png" alt="MyPassion"/></div>
                <div class="commment-text-wrap">
                    <div class="comment-data">
                        <p><a href="#" class="url">MyPassion</a> <br/> <span>January 12, 2013 - <a href="#"
                                                                                                   class="comment-reply-link">reply</a></span>
                        </p>
                    </div>
                    <div class="comment-text">Curabitur nunc mauris, <a href="#">link test</a> id dictum quis, aliquet
                        vel diam. Aliquam gravida, augue et dictum hendrerit, nisl erat congue elit, et molestie magna
                        sapien cursus tortor.
                    </div>
                </div>

            </div>
            <ul class="children">
                <li>
                    <div>
                        <div class="comment-avatar"><img src="img/avatar.png" alt="MyPassion"/></div>
                        <div class="commment-text-wrap">
                            <div class="comment-data">
                                <p><a href="#" class="url">MyPassion</a> <br/> <span>January 12, 2013 - <a href="#"
                                                                                                           class="comment-reply-link">reply</a></span>
                                </p>
                            </div>
                            <div class="comment-text">Curabitur nunc mauris, imperdiet id dictum quis, aliquet vel diam.
                                Aliquam gravida, augue et dictum hendrerit, nisl erat congue elit, et molestie magna
                                sapien cursus tortor.
                            </div>
                        </div>
                    </div>

                    <ul class="children">
                        <li>
                            <div>
                                <div class="comment-avatar"><img src="img/avatar.png" alt="MyPassion"/></div>
                                <div class="commment-text-wrap">
                                    <div class="comment-data">
                                        <p><a href="#" class="url">MyPassion</a> <br/> <span>January 12, 2013 - <a
                                                href="#" class="comment-reply-link">reply</a></span></p>
                                    </div>
                                    <div class="comment-text">Curabitur nunc mauris, imperdiet id dictum quis, aliquet
                                        vel diam. Aliquam gravida, augue et dictum hendrerit, nisl erat congue elit, et
                                        molestie magna sapien cursus tortor.
                                    </div>
                                </div>
                            </div>

                            <ul class="children">
                                <li>
                                    <div>
                                        <div class="comment-avatar"><img src="img/avatar.png" alt="MyPassion"/></div>
                                        <div class="commment-text-wrap">
                                            <div class="comment-data">
                                                <p><a href="#" class="url">MyPassion</a> <br/> <span>January 12, 2013 - <a
                                                        href="#" class="comment-reply-link">reply</a></span></p>
                                            </div>
                                            <div class="comment-text">Curabitur nunc mauris, imperdiet id dictum quis,
                                                aliquet vel diam. Aliquam gravida, augue et dictum hendrerit, nisl erat
                                                congue elit, et molestie magna sapien cursus tortor.
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="children">
                                        <li>
                                            <div>
                                                <div class="comment-avatar"><img src="img/avatar.png" alt="MyPassion"/>
                                                </div>
                                                <div class="commment-text-wrap">
                                                    <div class="comment-data">
                                                        <p>MyPassion <br/> <span>January 12, 2013 - <a href="#"
                                                                                                       class="comment-reply-link">reply</a></span>
                                                        </p>
                                                    </div>
                                                    <div class="comment-text">Curabitur nunc mauris, imperdiet id dictum
                                                        quis, aliquet vel diam. Aliquam gravida, augue et dictum
                                                        hendrerit, nisl erat congue elit, et molestie magna sapien
                                                        cursus tortor.
                                                    </div>
                                                </div>
                                            </div>

                                            <ul class="children">
                                                <li>
                                                    <div>
                                                        <div class="comment-avatar"><img src="img/avatar.png"
                                                                                         alt="MyPassion"/></div>
                                                        <div class="commment-text-wrap">
                                                            <div class="comment-data">
                                                                <p><a href="#" class="url">MyPassion</a> <br/> <span>January 12, 2013 - <a
                                                                        href="#"
                                                                        class="comment-reply-link">reply</a></span></p>
                                                            </div>
                                                            <div class="comment-text">Curabitur nunc mauris, imperdiet
                                                                id dictum quis, aliquet vel diam. Aliquam gravida, augue
                                                                et dictum hendrerit, nisl erat congue elit, et molestie
                                                                magna sapien cursus tortor.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </li>
                                    </ul>

                                </li>
                            </ul>

                        </li>
                    </ul>

                    <ul class="children">
                        <li>
                            <div>
                                <div class="comment-avatar"><img src="img/avatar.png" alt="MyPassion"/></div>
                                <div class="commment-text-wrap">
                                    <div class="comment-data">
                                        <p><a href="#" class="url">MyPassion </a><br/> <span>January 12, 2013 - <a
                                                href="#" class="comment-reply-link">reply</a></span></p>
                                    </div>
                                    <div class="comment-text">Curabitur nunc mauris, imperdiet id dictum quis, aliquet
                                        vel diam. Aliquam gravida, augue et dictum hendrerit, nisl erat congue elit, et
                                        molestie magna sapien cursus tortor.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </li>
            </ul>
            <ul class="children">
                <li>
                    <div>
                        <div class="comment-avatar"><img src="img/avatar.png" alt="MyPassion"/></div>
                        <div class="commment-text-wrap">
                            <div class="comment-data">
                                <p><a href="#" class="url">MyPassion</a> <br/> <span>January 12, 2013 - <a href="#"
                                                                                                           class="comment-reply-link">reply</a></span>
                                </p>
                            </div>
                            <div class="comment-text">Curabitur nunc mauris, imperdiet id dictum quis, aliquet vel diam.
                                Aliquam gravida, augue et dictum hendrerit, nisl erat congue elit, et molestie magna
                                sapien cursus tortor.
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="comment-form">
    <h5 class="line"><span>Leave a reply.</span></h5>

    <form action="#" method="post">
        <div class="form">
            <label>Name*</label>

            <div class="input">
                <input type="text" class="name"/>
            </div>
        </div>
        <div class="form">
            <label>Email*</label>

            <div class="input">
                <input type="text" class="name"/>
            </div>
        </div>
        <div class="form">
            <label>Website</label>

            <div class="input">
                <input type="text" class="name"/>
            </div>
        </div>
        <div class="form">
            <label>Comment*</label>
            <textarea rows="10" cols="20"></textarea>
        </div>
        <input type="submit" class="post-comment" value="Post Comment"/>
    </form>
</div>

</div>

<!-- /Main Content -->
</div>

<!-- Left Sidebar -->
<div class="col-md-4" ng-include="'pages/rightBar.html'" style="position:relative">


</div>
               
    