<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
					<a data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
						<i class="ti-panel"></i> <p>Submenu 1 <span class="caret"><p> </span>
          </a>
          <div class="collapse" id="toggleDemo" style="height: 0px;">
            <ul class="nav nav-list">
              <li><a href="#table">Submenu1.1</a></li>
              <li><a href="#">Submenu1.2</a></li>
              <li><a href="#">Submenu1.3</a></li>
            </ul>
          </div>
        </li>
                <li>
					<a data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
						<i class="ti-panel"></i> <p>Submenu 2 <span class="caret"><p> </span>
          </a>
          <div class="collapse" id="toggleDemo" style="height: 0px;">
            <ul class="nav nav-list">
              <li><a href="#">Submenu2.1</a></li>
              <li><a href="#">Submenu2.2</a></li>
              <li><a href="#">Submenu2.3</a></li>
            </ul>
          </div>
        </li>
		
		 <li>
					<a data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
						<i class="ti-panel"></i> <p>Submenu 3 <span class="caret"><p> </span>
          </a>
          <div class="collapse" id="toggleDemo" style="height: 0px;">
            <ul class="nav nav-list">
              <li><a href="#">Submenu3.1</a></li>
              <li><a href="#">Submenu3.2</a></li>
              <li><a href="#">Submenu3.3</a></li>
            </ul>
          </div>
        </li>
		
		 <li>
					<a data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
						<i class="ti-panel"></i> <p>Submenu 4 <span class="caret"><p> </span>
          </a>
          <div class="collapse" id="toggleDemo" style="height: 0px;">
            <ul class="nav nav-list">
              <li><a href="#">Submenu4.1</a></li>
              <li><a href="#">Submenu4.2</a></li>
              <li><a href="#">Submenu4.3</a></li>
            </ul>
          </div>
        </li>
		
		 <li>
					<a data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
						<i class="ti-panel"></i> <p>Submenu 5 <span class="caret"><p> </span>
          </a>
          <div class="collapse" id="toggleDemo" style="height: 0px;">
            <ul class="nav nav-list">
              <li><a href="#">Submenu5.1</a></li>
              <li><a href="#">Submenu5.2</a></li>
              <li><a href="#">Submenu5.3</a></li>
            </ul>
          </div>
        </li>
            </ul>
    	</div>
    </div>
