<style>
.list li{float:none; margin-bottom:15px; list-style:none; font-weight:bold;}
.list li a{font-size:16px; text-align:justify; text-decoration:none;color:rgb(143, 35, 28);}
</style>
<div class="sidebar list">
                    	<h5 class="line"><span>जाहिराती</span></h5>
						 <ul class="" style="padding:0;">
                        	<li class="col-xs-12 col-sm-12 col-md-12"><a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></li>
                        	<li class="col-xs-12 col-sm-12 col-md-12"><a href="#">मोरवाडीत महिलेने धक्काबुक्की करून तरुणाची रोकड लांबविली</a></li>
							<li class="col-xs-12 col-sm-12 col-md-12"><a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></li>
							<li class="col-xs-12 col-sm-12 col-md-12"><a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></li>
                        	<li class="col-xs-12 col-sm-12 col-md-12"><a href="#">मोरवाडीत महिलेने धक्काबुक्की करून तरुणाची रोकड लांबविली</a></li>
							<li class="col-xs-12 col-sm-12 col-md-12"><a href="#">डी. वाय. पाटील रुग्णालयाच्या नोंदणी प्रमाणपत्र नूतनीकरणाला आयुक्तांची स्थगिती</a></li>
                           
                        </ul>
						
</div>
 <div class="sidebar" ng-show="ads">
                    	<h5 class="line"><span>जाहिराती</span></h5>
                        <ul class="ads125">
                        	<li class="col-xs-6 col-sm-6 col-md-6"><a href="#"><img src="img/banner/3.png" alt="MyPassion"></a></li>
                            <li class="col-xs-6 col-sm-6 col-md-6"><a href="#"><img src="img/banner/1.png" alt="MyPassion"></a></li>
                            <li class="col-xs-6 col-sm-6 col-md-6"><a href="#"><img src="img/banner/2.png" alt="MyPassion"></a></li>
                            <li class="col-xs-6 col-sm-6 col-md-6"><a href="#"><img src="img/banner/4.png" alt="MyPassion"></a></li>
                        </ul>
                    </div>
					<div class="sidebar" style="display:none">
                    	<h5 class="line"><span>रहा कनेक्टेड</span></h5>
                        <ul class="social">
                        	<li>
                            	<a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <span>6,800 <br> <i>fans</i></span>
                            </li>
                            <li>
                            	<a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <span>12,475 <br> <i>followers</i></span>
                            </li>
                            <li>
                            	<a href="#" class="rss"><i class="icon-rss"></i></a>
                                <span><i>Subscribe via rss</i></span>
                            </li>
                        </ul>
                    </div>
				
                
                	<div class="sidebar">
                    	<h5 class="line"><span>रहा कनेक्टेड</span></h5>
                        <ul class="social">
                        	<li>
                            	<a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <span>6,800 <br> <i>fans</i></span>
                            </li>
                            <li>
                            	<a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <span>12,475 <br> <i>followers</i></span>
                            </li>
                            <li>
                            	<a href="#" class="rss"><i class="icon-rss"></i></a>
                                <span><i>Subscribe via rss</i></span>
                            </li>
                        </ul>
                    </div>
                    
                    
                    <div class="sidebar" ng-show="poll">
                    	<h5 class="line"><span>मतचाचणी</span></h5>
                     <div class="poll">
  <h2>पिंपरी-चिंचवड महापालिकेने मागासवर्गीयांच्या हक्काचे २५० कोटी रुपये लाटून त्यांना विकासापासून वंचित ठेवले, असे आपणांस वाटते का?</h2>
  
  <div class="poll-item">
    <label>होय</label>
    <button class="p1">Vote</button>
    <span class="p1">50%</span>
  </div>
  <div class="poll-item">
    <label>नाही</label>
    <button class="p2">Vote</button>
    <span class="p2">25%</span>
  </div>
    <div class="poll-item">
    <label>माहित नाही</label>
    <button class="p3">Vote</button>
    <span class="p3">25%</span>
  </div>
  <div class="poll-item">
    <label>तटस्थ</label>
    <button class="p4">Vote</button>
    <span class="p4">8%</span>
  </div>
  
  <br>
    <p id="vote-count">20 votes</p>
</div>  
                       
                   </div>
                    
                    
                    <div class="sidebar">
                    	<h5 class="line"><span></span></h5>
                       <div style="" id="tags">
                       
                       </div></div>
                    
                    
                    <div class="sidebar" style="display:none;">
                    	<h5 class="line"><span>पीसीबी वीडियो</span></h5>
                       <div style="text-align:center;"><iframe width="100%" height="250" src="https://www.youtube.com/embed/Hde5cx3b8wk?rel=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe></div
                    ></div>
                    
                    <div class="sidebar" ng-show="rashi">
                    	<h5 class="line"><span>दैनिक राशिभविष्य</span></h5>
                        <div id="accordion">
                        
                            <h3>मेष</h3>
                            <div>
                                <p>संपत्ती संबंधी विषयांमध्ये अनुकूल स्थिती उत्पन्न होण्याची संभावना. कौटुंबिक वातावरण देखील आपल्या जीवनात आनंद आणेल. आपल्या जोडीदाराशी संवाद मधुर ठेवा.</p>
                            </div>
                            
                            <h3>वृषभ</h3>
                            <div>
                                <p>प्रेम-प्रसंगांमध्ये सावधगिरी बाळगा. आर्थिक खर्च अधिक होईल. कर्ज देणे टाळा. निष्कारण चिंता त्रास देतील. व्यापारात वेळ मध्यम राहील.</p>
                            </div>
                        
                            <h3>मिथुन</h3>
                            <div>
                                <p>कामात काही विघ्न येऊ शकतात. अधिक जोखिमीचे कार्ये टाळा. आरोग्य नरम-गरम राहील.</p>
                            </div>
                            
                            <h3>कर्क</h3>
                            <div>
                                <p>व्यवसाय सुरळीत चालत राहील. आपल्या कौटुंबिक सभासदांचा आधार मिळेल. आनंददायी कार्यांसाठी व मनोरंजनासाठी देखील वेळ मिळेल.</p>
                            </div>
                            
                             <h3>सिंह</h3>
                            <div>
                                <p>आरोग्याची काळजी घ्या. अत्यंत परिश्रम केल्यानंतर थोडे यश मिळेल. व्यापार-व्यवसायात सावधगिरी बाळगा. अधिकार्‍यांपासून दूर राहा.</p>
                            </div>
                            
                            <h3>कन्या</h3>
                            <div>
                                <p>धार्मिक कार्यांमध्ये खर्च होण्याची शक्यता आहे. मित्रांचे सहकार्य मिळाल्याने महत्वाची कार्य पूर्ण होतील. आरोग्य उत्तम राहील. मान- सन्मानात वाढ होईल.</p>
                            </div>
                        
                            <h3>तूळ</h3>
                            <div>
                                <p>भावनांच्या भरात वाहून नुकसान होण्याची शक्यता आहे. शेअरमध्ये गुंतवणुक करु नका. कौटुंबिक आनंदाचे वातावरण राहील. आरोग्य उत्तम राहील.</p>
                            </div>
                            
                            <h3>वृश्चिक</h3>
                            <div>
                                <p>विशिष्ट व्यक्तिंचा सहयोग मिळेल. नोकरीपेशा व्यक्तिंना अनुकूल वातावरण मिळेल. राजकारणी व्यक्तिंना आपल्या उद्देश्यात यश मिळेल.</p>
                            </div>
                            
                             <h3>धनु</h3>
                            <div>
                                <p>महत्त्वाचे कार्य यशस्वीरीत्या पूर्ण होतील. शत्रू पराभूत होतील व राजकीय विषयांमध्ये आपल्यासाठी काळ अनुकूल ठरेल व कौटुंबिक सुख वाढेल.</p>
                            </div>
                            
                            <h3>मकर</h3>
                            <div>
                                <p>महत्वाकांक्षा पूर्ण होतील. शत्रू वर्ग पराजीत होईल. व्यापार-व्यवसाय सुरळीत राहाणार नाही. विरोक नुकसान पोहोचवण्याचा प्रयत्न करतील. आर्थिक विषयांमध्ये सावध रहा.</p>
                            </div>
                        
                            <h3>कुंभ</h3>
                            <div>
                                <p>निर्णय घेण्यापूर्वी दोनदा विचार करा. एखाद्या गोष्टीवर डोळे मिटून विश्वास करू नये. आपल्या खाण्या-पीण्याच्या सवयींची काळजी घ्या. रोख रकमेची मोठी देव-घेव टाळा.</p>
                            </div>
                            
                            <h3>मीन</h3>
                            <div>
                                <p>कलाक्षेत्रातील लोकांना अनुकूल परिस्थिती मिळेल. प्रेमसंबंधांमध्ये आवश्यक प्रगती होईल. पैशासंबंधी येणार्‍या अडचणी दूर होतील. आनंदाची बातमी मिळेल.</p>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    <div class="sidebar ads">
                    	<h5 class="line"><span>जाहिरात</span></h5>
                        <a href="#"><img src="img/tf_300x250_v1.gif" alt="MyPassion"></a>     
                    </div>
                	
                    <div class="sidebar">
                    	<h5 class="line"><span>सामाजिक</span></h5>
                        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpcbtoday&amp;width&amp;height=300&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=472521466216581" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:298px; height:258px;" allowtransparency="true"></iframe>
                        
                                        <div>
                            <a class="twitter-timeline" href="https://twitter.com/pcbtodaynews" width="300" height="280"
                               data-widget-id="483232028133826560">Tweets by @pcbtodaynews</a>
                            

                        </div>
                    </div>
                </div>